
# Environment & Config
config/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env/

# OS
.DS_Store

# IDEs
.idea/
.vscode/

# Build
build/
dist/
*.egg-info/

# Model Artifacts
*.joblib
*.pkl
*.h5
saved_models/
trained_models/
model_version.txt
